    <!-- footer -->
    <div class="footer d-sm-block d-none">
        <div class="container footerLinks">
            <div class="row custom-row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                    <h4>Blackmores</h4>
                    <a href="">About us</a><br>
                    <a href="">investor center</a><br>
                    <a href="">Meet the Team</a><br>
                    <a href="">Sustainably Report</a><br>
                    <a href="">Careers</a><br>
                    <a href="">Media Centers</a>

                </div>
                <!------------------------->

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <h4>Blackmores family</h4>
                    <a href="">Blackmores Professional</a><br>
                    <a href="">Blackmores institute</a><br>
                    <a href="">PAW by Blackmores</a><br>
                    <a href="">Blackmores Education</a><br>
                    <a href="">BIO CEUITALS</a><br>
                    <a href="">Isowhey</a>
                </div>
                <!------------------------->

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <h4>Arround the world</h4>
                    <a href="">Global Ecommerece</a><br>
                    <a href="">China</a><br>
                    <a href="">Malaysia</a><br>
                    <a href="">indonesia</a><br>
                    <a href="">japan</a>
                </div>
                <!------------------------->

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <h4>Get in touch</h4>
                    <a href="">Retail Customer Service</a><br>
                    <a href="">Ask a neturopath</a><br>
                    <a href="">Contact us</a><br>

                    <input type="button" class="btn btn-info text-left" value="Call us on 1800 803 760">


                    <h4>Help and Terms</h4>
                    <a href="">Privacy</a><br>
                    <a href="">Terms of Purchase</a><br>
                    <a href="">Terms of service</a><br>
                    <a href="">Posting Guidelines</a><br>
                    <a href="">Purchasing FAQs</a>


                </div>
                <!------------------------->


            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 FooterLogo">
                    <img src="/images/logo-blackmores-white.svg">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 SocialIcon">

                    <img src="/images/icon-facebook.svg">
                    <img src="/images/icon-instagram.svg">
                    <img src="/images/icon-linkedin.svg">
                    <img src="/images/icon-twitter.svg">
                    <img src="/images/icon-wechat.svg">

                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <p>@copyrights Reserved and all the dummy text copyrights Reserved and all the dummy
                        textcopyrights
                        Reserved and all the dummy textcopyrights Reserved and all the dumm extcopyrights Reserved
                        and
                        all the dummy text.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <h5>Designed with care</h5>
                </div>
            </div>





        </div>








    </div>