<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <%- include partials/header %>
  <form>
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <p class="DP">profile picture</p>
          <img src="/images/768px-Circle-icons-profile.svg.png" alt="768px-Circle-icons-profile" height="50">

        </div>

        <div class="col-md-6">
          <h3>Father details</h3>
          <div class="row">
            <div class="col-md-6">
              <p>Name</p>
              <input type="text" class="length" id="father_name" placeholder="Enter your father name">
            </div>
            <div class="col-md-6">
              <p>NRIC</p>
              <input type="number" class="length" id="father_nric" placeholder="Enter your father NRIC Number">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>Phone number</p>
              <input type="number" class="length" id="father_phone" placeholder="phone">
            </div>
            <div class="col-md-6">

            </div>

          </div>

          <br>
          <h3>Mothers details</h3>
          <div class="row">
            <div class="col-md-6">
              <p>Name</p>
              <input type="text" class="length" id="mother_name" placeholder="Enter your mother name">
            </div>
            <div class="col-md-6">
              <p>NRIC</p>
              <input type="number" class="length" id="mother_nric" placeholder="Enter your mother NRIC Number">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>Phone number</p>
              <input type="number" class="length" id="mother_phone" placeholder="phone">
            </div>
            <div class="col-md-6">

            </div>

          </div>


        </div>


      </div>

      <h3>Contact details</h3>
      <div class="row">
        <div class="col-md-4">
          <p>Email</p>
          <input type="email" class="length" id="email" placeholder="enter your email">



        </div>
        <div class="col-md-8">
          <p>Address</p>
          <input type="text" class="length" id="address" placeholder="enter your Address">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <p>join date</p>
          <input type="date" id="join_date">
        </div>
        <div class="col-md-8">

        </div>
      </div>
      <br><br><br>
      <h3>Student1 details</h3>
      <hr />

      <div class="row">
        <div class="col-md-4">
          <p>first name</p>
          <input type="text" class="length" id="student_name" placeholder="first name">
        </div>
        <div class="col-md-4">
          <p>last name</p>
          <input type="text" class="length" id="student_last" placeholder=" last name">
        </div>
        <div class="col-md-4">
          <p>NRIC</p>
          <input type="number" class="length" id="student_nric" placeholder="nric">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-4">
          <p>DOB</p>
          <input type="date" id="DOB">
        </div>
        <div class="col-md-4">
          <p>Gender</p>
          <input type="radio" value="MALE" class="gender" name="gender"> MALE
          <input type="radio" value="FEMALE" class="gender" name="gender"> FEMALE
        </div>
        <div class="col-md-4">

        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <p>level</p>
          <input type="radio" name="level" value="begginer" class="level"> begginer
          <input type="radio" name="level" value="intermediate" class="level"> intermediate
        </div>
        <div class="col-md-4">
          <p>Select inter level</p>
          <select id="inter_level">
            <option value="0" checked>Select</option>
            <option value="25">25 meter</option>
            <option value="30">30 meter</option>
            <option value="35">35 meter</option>
            <option value="45">45 meter</option>
            <option value="55">55 meter</option>
            <option value="65">65 meter</option>
            <option value="75">75 meter</option>
            <option value="85">85 meter</option>
          </select>

        </div>
        <div class="col-md-4">

        </div>
      </div>
      <hr />

    </div>

  </form>
  <div class="row">
    <div class="col-md-12">
      <input type="checkbox" value='yes' id="trial" name="trial"> DO YOU WANT TO TAKE A TRAIL FIRST.
      <br><br>
      <!-- <input type="submit" value="submit"> -->
      <button class="test_btn">test</button>

    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <script>

    $(".test_btn").click(function () {

      let data =
      {
        father_name: $("#father_name").val(),
        father_nric: $("#father_nric").val(),
        father_phone: $("#father_phone").val(),
        mother_name: $("#mother_name").val(),
        mother_nric: $("#mother_nric").val(),
        mother_phone: $("#mother_phone").val(),
        email: $("#email").val(),
        address: $("#address").val(),
        join_date: $("#join_date").val(),
        student_name: $("#student_name").val(),
        student_nric: $("#student_nric").val(),
        student_last: $("#student_last").val(),
        DOB: $("#DOB").val(),
        gender: $("input[type=radio][name=gender]:checked").val(),
        level: $("input[type=radio][name=level]:checked").val(),
        inter_level: $("select#inter_level option:checked").val(),
        trial: $("input[type=checkbox][name=trial]:checked").val(),
      }

      $.post("/form", data);

      // $.ajax({
      //   type: "POST",
      //   url: "/form",
      //   data: data,
      //   success: success,
      //   dataType:
      // });

    });
  </script>
</body>

</html>