<!DOCTYPE html>
<html>

<head>
    <title>ABOUT US</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1> this is my first project</h1>
    <p> this is my first project this is my first project this is my first project this is my first project this is my
        first project
        this is my first project this is my first project this is my first project </p>
    <br><br>
    <ul>
        <% for(var i=0; i<text.length; i++) { %>
        <li>
            <%= text[i] %>
        </li>
        <% } %>
    </ul>
</body>

</html>