@font-face {
    font-family: 'avenirfont';
    src: url('/fonts/AvenirNext-Bold.woff') format('woff'), url('/fonts/AvenirNext-Bold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'avenirfont';
    src: url('/fonts/AvenirNext-Medium.woff') format('woff'), url('/fonts/AvenirNext-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'avenirfont';
    src: url('/fonts/AvenirNext-Regular.woff') format('woff'), url('/fonts/AvenirNext-Regular.woff2') format('woff2');
    font-weight: 400;
}

/* nav bar start */

body {
    font-family: 'avenirfont';
    background-color: #EFF3F7;
}

.row {
    margin-bottom: 20px;
}
 
h3 {
    font-family: "avenirfont";
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}

p {
    font-size: 14px;
}

h5 {
    font-family: "avenirfont";
    font-size: 14px;
    font-weight: 600;
}
 
.main {
    background-color: #EFF3F7;
}
ul{
    padding-left: 12px; 
}
ul li{
    font-size: 14px;
}

/* *************************container************************ */
/* ******************* nav bar****************************** */
#navbarNavDropdown>ul>li>:hover {
    background-color: gray;
    color: whitesmoke;
}

.navbar {
    height: 50px;
}

.navbar-brand {
    margin-left: 0px;
}

#navbarNavDropdown {
    margin-left: 0px;
}
.collapse ul
{
  margin-left:30px;
}
.collapse ul li
{
  margin-left:30px;
}

#navbarNavDropdown>ul>li>a {
    color: black;
    font-size: 12px;
    font-weight: 500;
}

.icons1>a {
    color: black;
    padding: 3px;
}

.icons>a:hover {
    color: blueviolet;
    padding: 3px;
}

.icons1>a:hover {
    color: blueviolet;
    padding: 3px;
}

.icons>a {
    color: black;
    padding: 5px;
}

/*********************** nav bar end ************************/

/* checkout start */

.Page-Title-1-000000 {
    width: 100%;
    height: 18px;
    font-family: "avenirfont";
    font-size: 14px;
    padding-top: 21px;
    padding-left: 13px;
    padding-bottom: 21px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--black);
}

.side {
    margin-bottom: 0;
    margin-top: 0;
}

.container.Checkout {
    height: 60px;
}

.products_color {
    color: #0099a8;
}

/* check out end */

/* carousel */

.carousel img {
    height: 590px;
    object-fit: cover;
}

.carousel-indicators {
    right: unset;
    left: -96px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.carousel-control-next {
    right: 48%;
}

.carousel-control-prev {
    left: 1%;
}

/* carousel caption */

.product_add {
    position: absolute;
    width: 476px;
    height: 476px;
    background-color: white;
    top: 165px;
    right: 130px;
    left: unset;
    bottom: 0;
}

.product_add .caption_header {
    background-color: #7f73e9;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.product_add .main_caption {
    padding: 24px 74px;
}

.product_add .caption_header h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
 
.product_add .main_caption h4 {
    color: #7f73e9;
    font-size: 24px;
    font-weight: 600;
    font-family: "avenirfont";
    text-align: left;
}

.product_add .main_caption p {
    color: #4a4a4a;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
}

.product_add .product_name_select select {
    font-weight: 600;
    font-size:14px;
    width: 100%;
    height: 40px;
}

.description {
    font-size: 12px;
    font-weight: 500;
}

.product_add .alert_product {
    background-color: #E8DDFB;
    width: 100%;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.product_add .alert_product p {
    color: #4a4a4a;
    font-weight: 600;
    font-size:14px;
    padding-top: 7px;
    text-align: center;
}

.product_add .last_caption {
    text-align: left;
}

.product_add .last_caption .btn-info {
    background-color: white;
    border: #0099A7 3px solid;
    margin-top: 10px;
    font-size: 12px;
    color: #0099a8;
    font-weight: bold;
    width: 50%;
    float: left;
    height: 40px;
    border-radius: 20px;
}

.product_add .last_caption .btn-add {
    background-color: #0099A7;
    border: #0099A7 3px solid;
    margin-top: 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    width: 50%;
    float: left;
    height: 40px;
    border-radius: 20px;
}

.product_add .last_caption .btn-add:hover {
    background: #0099a8;
}

.product_add .last_caption .btn-info:hover {
    background-color: transparent;
    border: #0099A7 2px solid;
    color: #000000;
}

.product_add .last_caption .Price {
    float: right;
    padding-top: 8px;
}

.product_add .last_caption .Price span {
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.product_add .last_caption .Price del {
    color: black;
}
/* product add end************************** */

/* differnce start */
.difference_text {
    width: 75%;
}

.difference {
    padding-top: 40px;
    padding-bottom: 20px;
}

.difference h1 {
    font-family: "avenirfont";
    font-weight: 600;
    font-size: 36px;
    padding-left: 50px;
}

.difference p {
    font-family: "avenirfont";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--greyish-brown);
}

/* boxes css */

.box {
    color: black;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
    background: #fff;
    height: 100%;
}

.box-color-purple {
    background-color: #7f73e9;
    color: white;
}

.box-color-white {
    background-color: #ffff;
}


.box ul {
    list-style: none; 
}  
 .box ul li::before {
    content: "\2022";   
    color: #0099a8;  
    font-weight: bold; 
    display: inline-block;  
    width: 1em; 
    margin-left: -1em;
  }

  .box-color-purple ul li::before {
    content: "\2022";   
    color: #ffff;  
    font-weight: bold; 
    display: inline-block;  
    width: 1em; 
    margin-left: -1em;
  }
  .box-color-purple ul li{
      padding-top:10px;
  }

/* table */

.nutritional {
    background-color: #fff;
    padding-top: 40px;
    padding-left: 75px;
    padding-right: 75px;
    margin-bottom: 40px;
}

.nutritional table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nutritional th {
    font-family: "avenirfont";
    font-size: 14px;
    font-weight: 600;
}

.nutritional tr {
    border-top: 2px solid #EFF3F7;
    height: 40px;
    font-family: "avenirfont";
    font-size: 12px;
    font-weight: 500;
}

.nutritional h3 {
    font-family: "avenirfont";
    font-weight: 600;
    font-size: 24px;
}

.nutritional .color {
    background-color: #EFF3F7;
}

.nutritional span {
    font-size: 12px;
    font-weight: 600;
}

.nutritional p {
    font-size: 12px;
    font-weight: 500;
}

/* ingridents */

.container.ingredients {
    padding-left: 0;
    padding-right: 0;
}

.ingredients {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ingredients h3 {
    font-family: "avenirfont";
    font-weight: 600;
    font-size: 36px;
}

.ingredients .card {
    margin-bottom: 10px;
}

.ingredients .fa {
    color: #7f73e9;
}

.ingredients img {
    height: 65px;
    width: 65px;
}

.ingredients h5 {
    float: right;
    font-family: "avenirfont";
    font-size: 14px;
    font-weight: 600;
}

.ingredients table {
    background-color: #fff;
    border-bottom: 1px solid #EFF3F7;
}

.ingredients span {
    color: #9b9b9b;
    font-size: 14px;
}

.ingredients p {
    font-size: 14px;
}

/* last row */

.last_padd_1 {
    padding-right: 0;
}

.last_padd {
    padding-left: 0;
}

.last_row h5 {
    font-size: 14px;
    font-family: "avenirfont";
    font-weight: 600;
}

.last_row button {
    float: right;
}

.card-header {
    background-color: unset;
}

.last_row h3 {
    font-family: "avenirfont";
    font-weight: 600;
    font-size: 36px;
}

/* social icons */

.last_row .social_icons {
    margin-top: 50px;
    padding-left: 150px;
    font-weight: 600;
    font-size: 14px;
}

.last_row .social_icons span {
    padding-right: 20px;
}

.last_row .social_icons .fab {
    color: #0099a8;
    border: 1px solid #0099a8;
    border-radius: 50%;
    padding: 6px 8px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* ************************************media queries ******************************* */

@media (max-width: 575.98px) {
    .padding-cards {
        padding-left: 40px;
        padding-right: 40px;
    }
    .ingredients h3{
        padding-left:31px;
    }
    .box {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    /* nav brand */
    .product_add .main_caption {
        padding: 10px 20px;
    }
    .last_row h3 {
        font-size: 26px;
    }
    .ingredients h3 {
        font-size: 26px;
    }
    .carousel-indicators li {
        left: 100px;
    }
    .container.nav_1 {
        background-color: #fff;
    }
    .container.Checkout {
        background-color: #fff;
    }
    .navbar-brand {
        margin-left: 5px;
    }
    nav {
        z-index: 1;
    }
    #navbarNavDropdown>ul {
        background-color: white;
        flex-direction: row;
        margin-left: -55px;
        margin-right: -46px;
    }
    #navbarNavDropdown>ul>li>a {
        margin-left: 25px;
        padding-left: 18px;
        text-align: center;
    }
    #navbarNavDropdown>ul>li>:focus {
        background-color: black;
        color: whitesmoke;
    }
    .product_add {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 650px;
        right: 20px;
        width: 320px;
        height: 340px;
    }
    .product_add .caption_header {
        background-color: #7f73e9;
    }
    .product_add .last_caption {
        text-align: left;
    }
    .product_add .main_caption h4 {
        font-size: 16px;
    }
    .product_add .caption_header h5 {
        font-size: 14px;
    }
    .carousel-indicators li {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin-bottom: 50px;
    }
    .carousel-control-next {
        right: 7%;
    }
    .carousel-control-prev {
        left: 7%;
    }
    .product_add .main_caption select {
        width: 100%;
        height: 40px;
    }
    .product_add .product_name_select select {
        width: 100%;
        height: 30px;
    }
    .product_add .main_caption p {
        font-size: 12px;
    }
    .product_add .alert_product {
        background-color: #E8DDFB;
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .difference {
        margin-top: 300px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
    }
    .last_padd {
        padding: 0;
    }
    .last_padd_1 {
        padding: 0;
    }

    .padding-right {
        padding-right: 0;
    }
    .padding-left {
        padding-left: 0;
        border-top: 2px solid #EFF3F7;
    }
    .nutritional {
        padding-left: 20px;
        padding-right: 20px;
    }
    .last_row .social_icons {
        padding-left: 60px;
    }
    .difference_text {
        width: 99%;
    }
    .difference h1 {
        padding-left: 1px;
        font-size: 25px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .box {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    .nutritional {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    .padding-right {
        padding-right: 0;
    }
    .padding-left {
        padding-left: 0;
        border-top: 2px solid #EFF3F7;
    }
    .last_row h3 {
        font-size: 26px;
    }
    .ingredients h3 {
        font-size: 26px;
    }
    .carousel-indicators li {
        left: 80px;
    }
    .difference {
        margin-top: 430px;
    }
    body {
        background-color: #EFF3F7;
    }
    .container.nav_1 {
        background-color: #fff;
        max-width: unset;
    }
    .container.Checkout {
        background-color: #fff;
        max-width: unset;
    }
    .product_add {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        right: 90px;
        top: 650px;
    }
    .carousel-control-next {
        right: 7%;
    }
    .carousel-indicators li {
        margin-bottom: 50px;
    }
    .last_padd {
        padding: 0;
    }
    .last_padd_1 {
        padding: 0;
    }
    .difference_text {
        width: 99%;
    }
    .difference h1 {
        padding-left: 1px;
        font-size: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .product_add .caption_header {
        background-color: #7f73e9;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .padding-right {
        padding-right: 0;
    }
    .padding-left {
        padding-left: 0;
        border-top: 2px solid #EFF3F7;
    }
    .last_row h3 {
        font-size: 28px;
    }
    .ingredients h3 {
        font-size: 28px;
    }
    .product_add {
        top: 200px;
        right: 40px;
        width: 380px;
        min-height: 350px;
    }
    .product_add .main_caption p {
        font-size: 13px;
    }
    .product_add .caption_header {
        background-color: #7f73e9;
    }
    .product_add .last_caption {
        text-align: left;
    }
    .product_add .main_caption h4 {
        font-size: 16px;
    }
    .product_add .caption_header h5 {
        font-size: 14px;
    }
    .last_padd {
        padding: 0;
    }
    .last_padd_1 {
        padding: 0;
    }
    .difference_text {
        width: 90%;
    }
    .difference h1 {
        padding-left: 10px;
        font-size: 25px;
    }
    body {
        background-color: #ffffff;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .difference_text {
        width: 82%;
    }
    .difference h1 {
        padding-left: 10px;
    }
    .product_add {
        top: 165px;
        right: 50px;
    }
    .ingredients h3 {
        padding-left: 30px;
    }
    body {
        background-color: #ffffff;
    }
}

@media (min-width: 1200px) {
    .ingredients h3 {
        padding-left: 30px;
    }
    body {
        background-color: #ffffff;
    }
}