body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.length
{
  width: 100%;
}
 img
 {
   height: 150px;
   width: 150px;
   margin-left: 25px;
 }
 p
 {
   padding: 0%;
   font-size: 15px;
 }
 .dp
 {
   font-family: arial;
   color:gray;
 }